.post-section {
  flex: 9;
  display: flex;
  flex-direction: column;
  margin: 50px 20px;
  align-items: center;
}

.post-title, .post-caption {
  margin: 20px 0;
}

.post-controls {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.post-page-caption {
  line-height: 50px;
  color: #727272;
  width: 80%;
}

.post-controls :first-child {
  color: green;
}

.post-controls :last-child {
  color: red;
}

i {
  margin-left: 10px;
  font-size: 20px;
  cursor: pointer;
}
